.heading h1{
    font-size: 45px;
    text-align: center;
    font-family: agency fb;
}
.heading h3{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}
p{
    font-size:30px;
    font-family: agency fb;
    text-align: center;
    
}
form{
    text-align: center;
    padding: 20px 10px;
}
h3{
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}
