.heading h1{
    font-size: 45px;
    text-align: center;
    font-family: agency fb;
}
.heading h3{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}
p{
    font-size: 25;
    font-family: agency fb;
    text-align: center;
    border: 1px solid #000;
}
